<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>zk-view</title>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <!-- 引入样式 -->
  <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
  <!-- 引入组件库 -->
  <script src="https://unpkg.com/element-ui/lib/index.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
<div id="app">
  <el-col :span="12">
    <el-tree width="200px" :data="og" :props="defaultProps" @node-click="handleNodeClick"></el-tree>
  </el-col>

  <div>
    <el-col :span="12">
      <h3>状态</h3>
      {{message}}
      
      <h3>数据</h3>

      <el-input
          type="textarea"
          :rows="2"
          placeholder=""
          v-model="node_info.data">
      </el-input>

      <span>节点类型: {{node_type}}</span>

    </el-col>


  </div>
</div>

</body>

<script>

  var app = new Vue({
    el: '#app',
    data: {
      radio: '1',
      message: "hello",
      node_type: "",

      og: [],
      defaultProps: {
        children: 'child',
        label: 'showName'
      },
      node_info: {},
      state: {
        czxid: 0,
        mzxid: 0,
        ctime: 0,
        mtime: 0,
        version: 0,
        cversion: 0,
        aversion: 0,
        ephemeralOwner: 0,
        dataLength: 0,
        numChildren: 0,
        pzxid: 0
      }
    },
    methods: {
      handleNodeClick: function (data) {
        console.log("当前选中的节点是", data.path)
        axios.get("/node/get/info", {params: {path: data.path}}).then(response => {
          this.node_info = response.data.data
          this.message = response.data.data.stat;
          this.node_type = response.data.data.type
          this.state.czxid = response.data.data.czxid;
          this.state.mzxid = response.data.data.mzxid;
          this.state.ctime = response.data.data.ctime;
          this.state.mtime = response.data.data.mtime;
          this.state.version = response.data.data.version;
          this.state.cversion = response.data.data.cversion;
          this.state.aversion = response.data.data.aversion;
          this.state.ephemeralOwner = response.data.data.ephemeralOwner;
          this.state.dataLength = response.data.data.dataLength;
          this.state.numChildren = response.data.data.numChildren;
          this.state.pzxid = response.data.data.pzxid;
          if (this.node_type == "持久化节点") {
            this.radio = 2
          } else {
            this.radio = 1
          }

        }).catch(function (error) {
          console.log(error);
        });

      },
      tree: function () {
        axios.get('/node/tree').then(response => {
          console.log("ogog");
          console.log(this.og);
          this.og = [response.data.data];
          console.log(this.og);

        }).catch(function (error) {
          console.log(error);
        });

      }
    },
    created: function () {
      this.tree();
      this.node_info = {
        state: {
          czxid: 2,
          mzxid: 0,
          ctime: 0,
          mtime: 0,
          version: 0,
          cversion: 0,
          aversion: 0,
          ephemeralOwner: 0,
          dataLength: 0,
          numChildren: 0,
          pzxid: 0
        },
        data: "数据",
        type: "临时节点"
      }

    }
  })


</script>
</html>